body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0px;
}

header{
    background-color: #888;
}

.logo-wrapper{
    float:left;
    height:70px;
    /* width:230px; */
    width:auto;
    text-align: center;
    color: #fff;
    line-height:70px;
}

.fridge-img{
    width:45px;
    height:45px;
    /* float:left;これがあると、縦方向の真ん中に寄らない */
    vertical-align:middle;
}

.logo{
    font-size:25px;
    margin:0px;
    width:160px;
    height:70px;
    line-height:70px;
    float:right;
}

.content{
    flex: 1;
    background-color: #eee;
    text-align: center;
    /* margin-top: 10px; */
}

.to_login{
    padding: 0 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
    display: block;
}

.to_login:hover{
    background-position: -100% 0;
    color: #fff;
}

.to_register{
    padding: 0 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
    display: block;
}

.to_register:hover{
    background-position: -100% 0;
    color: #fff;
}