body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.topNavigation{
    height: 70px;
    text-align: center;
    background-color: #888;
    color: #fff;
}
.content{
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin-top: 10px;
}